{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>JayForCode</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/svgbg.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bg.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body class="bg">
  {% include 'includes/header.html' %}

  <br><br><br>
  <div class="p-4 text-white">
    <div class="flex flex-col p-2 md:flex-row  mb-12">
      <div class="flex flex-col  max-w-[100%] md:w-[320px] rounded-xl items-center justify-center  text-center p-2">
        <img src="{% static 'images/favicon.png' %}" alt="me" class="w-[150px] rounded-lg mb-2" />
        <div class="flex flex-auto">
          <p class="mt-4 text-center">
            “Perfection is achieved not when there is nothing more to add, but
            rather when there is nothing more to take away.” –
            <span class="italic font-bold text-primary">
              Antoine de Saint – Exupery
            </span>
          </p>
        </div>
      </div>




      <div class="rounded-xl ml-2 p-2 w-full bg-gray-900 bg-opacity-80">
        <div class="p-2">
          <div class="flex justify-between flex-wrap">
            <h1 class="text-white font-bold flex text-center text-[25px]">
              Edmar Jay O. Heolin
            </h1>
          </div>

          <div class="flex justify-between items-center flex-wrap">
            <p class="text-md text-gray-400">Software Developer</p>

            <p class="text-md flex items-center">
              <i class="mr-2 text-primary text-[19px] fa fa-map"></i>
              Pob. Guipos
            </p>
          </div>
          <p class="mt-10 text-sm">Experience</p>
          <p class="flex items-center">
            <i class="mr-2 fa fa-laptop text-primary text-lg"></i> 50+ Webapps Created
          </p>
          <div class="flex justify-start items-center   flex-wrap sm:flex-row sm:items-center md:justify-start mt-5">
            <a href="https://web.facebook.com/jayjanezkieO3" target="_blank"
               class=" bg-primary w-[160px] justify-center rounded-md p-2  font-secondary hover:text-primary  hover:bg-primary/10 flex items-center text-sm mb-5 sm:mb-0">
              <i class="mr-2 fa-brands fa-facebook text-2xl"></i>
              <p>Send message</p>
            </a>
            <a href="{% static 'files/Resume.pdf' %}" target="_blank"
               class="bg-primary w-[160px] flex items-center justify-center ml-0 sm:ml-8 rounded-md p-2 font-secondary text-sm hover:text-primary hover:bg-primary/10">
              <i class="mr-2 fa fa-file text-2xl"></i>
              <p>View Resume</p>
            </a>
          </div>
          <div class="mt-12 flex items-center border-2 border-x-0 border-t-0 border-b-gray-500 p-2 ">
            <div class="text-sm flex items-center text-white font-bold mr-5">
              <i class="mr-2 fa fa-user-alt text-white text-lg"></i>
              About Me
            </div>
          </div>
          <div class="flex flex-wrap justify-between">
            <div class="flex flex-col">
              <div class="text-sm">
                <p class="mt-12">Contact Information</p>
                <div class="flex mt-7">
                  <p class="mr-12 flex items-center">
                    <FaPhoneAlt class="mr-2" />
                    Phone 1:
                  </p>
                  <a href="tel:+639665616586" class="text-gray-400">
                    +639665616586
                  </a>
                </div>
                <div class="flex mt-3">
                  <p class="mr-12 flex items-center">
                    <FaPhoneAlt class="mr-2" />
                    Phone 2:
                  </p>
                  <a href="tel: +639562059570" class="text-gray-400">
                    +639562059570
                  </a>
                </div>
                <div class="flex mt-3">
                  <p class="mr-12 flex items-center">
                    <FaMailBulk class="mr-2" />
                    Email:
                  </p>
                  <a href="mailto: abc@example.com" target="_blank" class="text-gray-400">
                    jaywrsnp6@gmail.com
                  </a>
                </div>
              </div>
              <div class="text-sm">
                <p class="mt-12">Basic Information</p>
                
                <div class="flex mt-7">
                  <p class="mr-12 flex items-center">
                    <FaMale class="mr-2" />
                    Gender:
                  </p>
                  <a href="3" class="text-gray-400">
                    Male
                  </a>
                </div>
              </div>
            </div>
            <div class="flex flex-row mt-12 justify-center">
              <div class="text-sm">
                <p>Used Programming Languages:</p>

                <div class="flex flex-row mt-2 items-center">
                  <img src="{% static 'images/python.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                  <img src="{% static 'images/javascript.png'  %}" class="h-[35px] w-[35px] mr-3" alt="" />
                  <img src="{% static 'images/php.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                </div>

                <p class="mt-12"> Used Frameworks/Libraries:</p>
                <div class="flex flex-row mt-2 items-center">
                  <img src="{% static 'images/react.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                  <img src="{% static 'images/flutter.png'  %}" class="h-[35px] w-[35px] mr-3" alt="" />
                  <img src="{% static 'images/tailwind.png'  %}" class="h-[45px] w-[45px] mr-3 rounded-2xl" alt="" />
                  <img src="{% static 'images/django.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                </div>

                <p class="mt-12">Used Softwares:</p>
                <div class="flex flex-row mt-2">
                  <img src="{% static 'images/photoshop.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                  <img src="{% static 'images/powerpoint.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                  <img src="{% static 'images/word.png'  %}" class="h-[45px] w-[45px] mr-3" alt="" />
                  <img src="{% static 'images/ae.png'  %}" class="h-[45px] w-[55px] mr-3" alt="" />
                </div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
      </div>

    </div>
  </div>{% include 'includes/footer.html' %}
</body>

</html>