
.colors,
.colors::before,
.colors::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  transform-origin: top;
  transition: all 5s linear 0s;
  z-index: 1;
}
  
 .purple {
    -webkit-animation: purple linear 30s alternate infinite;
            animation: purple linear 30s alternate infinite;
    border: 2px solid #241379;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    transform: translate3d(24vw, 76vh, 0);
    z-index: 12;
  }
  
  .purple::before {
    -webkit-animation: purple-pseudo linear 15s alternate infinite;
            animation: purple-pseudo linear 15s alternate infinite;
    background: #241379;
    border: 2px solid #241379;
    width: 32px;
    height: 27px;
    transform: translate3d(1vw, 12vh, 0) rotate(299deg);
  }
  
  .purple::after {
    -webkit-animation: purple-pseudo linear 20s alternate infinite;
            animation: purple-pseudo linear 20s alternate infinite;
    border: 2px solid #241379;
    width: 21px;
    height: 45px;
    transform: translate3d(37vw, -28vh, 0) rotate(55deg);
  }
  
  @-webkit-keyframes purple {
    50% {
      transform: translate3d(36vw, 67vh, 0);
    }
    100% {
      transform: translate3d(14vw, 33vh, 0);
    }
  }
  
  @keyframes purple {
    50% {
      transform: translate3d(36vw, 67vh, 0);
    }
    100% {
      transform: translate3d(14vw, 33vh, 0);
    }
  }
  @-webkit-keyframes purple-pseudo {
    33% {
      transform: translate3d(63vw, -61vh, 0) rotate(96deg);
    }
    100% {
      transform: translate3d(34vw, -2vh, 0) rotate(71deg);
    }
  }
  @keyframes purple-pseudo {
    33% {
      transform: translate3d(63vw, -61vh, 0) rotate(96deg);
    }
    100% {
      transform: translate3d(34vw, -2vh, 0) rotate(71deg);
    }
  }
  .medium-blue {
    -webkit-animation: medium-blue linear 30s alternate infinite;
            animation: medium-blue linear 30s alternate infinite;
    border: 2px solid #2185bf;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    transform: translate3d(34vw, 67vh, 0);
    z-index: 9;
  }
  
  .medium-blue::before {
    -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
            animation: medium-blue-pseudo linear 15s alternate infinite;
    background: #2185bf;
    border: 2px solid #2185bf;
    width: 30px;
    height: 35px;
    transform: translate3d(38vw, -10vh, 0) rotate(332deg);
  }
  
  .medium-blue::after {
    -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
            animation: medium-blue-pseudo linear 20s alternate infinite;
    border: 2px solid #2185bf;
    width: 19px;
    height: 38px;
    transform: translate3d(-9vw, 5vh, 0) rotate(21deg);
  }
  
  @-webkit-keyframes medium-blue {
    50% {
      transform: translate3d(44vw, 40vh, 0);
    }
    100% {
      transform: translate3d(43vw, 50vh, 0);
    }
  }
  
  @keyframes medium-blue {
    50% {
      transform: translate3d(44vw, 40vh, 0);
    }
    100% {
      transform: translate3d(43vw, 50vh, 0);
    }
  }
  @-webkit-keyframes medium-blue-pseudo {
    33% {
      transform: translate3d(-36vw, -21vh, 0) rotate(264deg);
    }
    100% {
      transform: translate3d(28vw, 43vh, 0) rotate(174deg);
    }
  }
  @keyframes medium-blue-pseudo {
    33% {
      transform: translate3d(-36vw, -21vh, 0) rotate(264deg);
    }
    100% {
      transform: translate3d(28vw, 43vh, 0) rotate(174deg);
    }
  }
  .light-blue {
    -webkit-animation: light-blue linear 30s alternate infinite;
            animation: light-blue linear 30s alternate infinite;
    border: 2px solid #1fbce1;
    border-radius: 100%;
    width: 44px;
    height: 44px;
    transform: translate3d(67vw, 24vh, 0);
    z-index: 1;
  }
  
  .light-blue::before {
    -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
            animation: light-blue-pseudo linear 15s alternate infinite;
    background: #1fbce1;
    border: 2px solid #1fbce1;
    width: 24px;
    height: 28px;
    transform: translate3d(-12vw, -16vh, 0) rotate(281deg);
  }
  
  .light-blue::after {
    -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
            animation: light-blue-pseudo linear 20s alternate infinite;
    border: 2px solid #1fbce1;
    width: 47px;
    height: 28px;
    transform: translate3d(-21vw, 63vh, 0) rotate(351deg);
  }
  
  @-webkit-keyframes light-blue {
    50% {
      transform: translate3d(13vw, 2vh, 0);
    }
    100% {
      transform: translate3d(23vw, 21vh, 0);
    }
  }
  
  @keyframes light-blue {
    50% {
      transform: translate3d(13vw, 2vh, 0);
    }
    100% {
      transform: translate3d(23vw, 21vh, 0);
    }
  }
  @-webkit-keyframes light-blue-pseudo {
    33% {
      transform: translate3d(22vw, 58vh, 0) rotate(248deg);
    }
    100% {
      transform: translate3d(32vw, 72vh, 0) rotate(93deg);
    }
  }
  @keyframes light-blue-pseudo {
    33% {
      transform: translate3d(22vw, 58vh, 0) rotate(248deg);
    }
    100% {
      transform: translate3d(32vw, 72vh, 0) rotate(93deg);
    }
  }
  .red {
    -webkit-animation: red linear 30s alternate infinite;
            animation: red linear 30s alternate infinite;
    border: 2px solid #b62f56;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    transform: translate3d(83vw, 33vh, 0);
    z-index: 4;
  }
  
  .red::before {
    -webkit-animation: red-pseudo linear 15s alternate infinite;
            animation: red-pseudo linear 15s alternate infinite;
    background: #b62f56;
    border: 2px solid #b62f56;
    width: 34px;
    height: 39px;
    transform: translate3d(-28vw, 62vh, 0) rotate(235deg);
  }
  
  .red::after {
    -webkit-animation: red-pseudo linear 20s alternate infinite;
            animation: red-pseudo linear 20s alternate infinite;
    border: 2px solid #b62f56;
    width: 9px;
    height: 43px;
    transform: translate3d(-69vw, -11vh, 0) rotate(16deg);
  }
  
  @-webkit-keyframes red {
    50% {
      transform: translate3d(88vw, 74vh, 0);
    }
    100% {
      transform: translate3d(74vw, 21vh, 0);
    }
  }
  
  @keyframes red {
    50% {
      transform: translate3d(88vw, 74vh, 0);
    }
    100% {
      transform: translate3d(74vw, 21vh, 0);
    }
  }
  @-webkit-keyframes red-pseudo {
    33% {
      transform: translate3d(-21vw, -54vh, 0) rotate(319deg);
    }
    100% {
      transform: translate3d(-58vw, 24vh, 0) rotate(244deg);
    }
  }
  @keyframes red-pseudo {
    33% {
      transform: translate3d(-21vw, -54vh, 0) rotate(319deg);
    }
    100% {
      transform: translate3d(-58vw, 24vh, 0) rotate(244deg);
    }
  }
  .orange {
    -webkit-animation: orange linear 30s alternate infinite;
            animation: orange linear 30s alternate infinite;
    border: 2px solid #d5764c;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    transform: translate3d(39vw, 46vh, 0);
    z-index: 6;
  }
  
  .orange::before {
    -webkit-animation: orange-pseudo linear 15s alternate infinite;
            animation: orange-pseudo linear 15s alternate infinite;
    background: #d5764c;
    border: 2px solid #d5764c;
    width: 28px;
    height: 47px;
    transform: translate3d(0vw, 52vh, 0) rotate(86deg);
  }
  
  .orange::after {
    -webkit-animation: orange-pseudo linear 20s alternate infinite;
            animation: orange-pseudo linear 20s alternate infinite;
    border: 2px solid #d5764c;
    width: 9px;
    height: 19px;
    transform: translate3d(54vw, -40vh, 0) rotate(175deg);
  }
  
  @-webkit-keyframes orange {
    50% {
      transform: translate3d(84vw, 6vh, 0);
    }
    100% {
      transform: translate3d(58vw, 44vh, 0);
    }
  }
  
  @keyframes orange {
    50% {
      transform: translate3d(84vw, 6vh, 0);
    }
    100% {
      transform: translate3d(58vw, 44vh, 0);
    }
  }
  @-webkit-keyframes orange-pseudo {
    33% {
      transform: translate3d(-45vw, 63vh, 0) rotate(52deg);
    }
    100% {
      transform: translate3d(-58vw, 5vh, 0) rotate(340deg);
    }
  }
  @keyframes orange-pseudo {
    33% {
      transform: translate3d(-45vw, 63vh, 0) rotate(52deg);
    }
    100% {
      transform: translate3d(-58vw, 5vh, 0) rotate(340deg);
    }
  }
  .yellow {
    -webkit-animation: yellow linear 30s alternate infinite;
            animation: yellow linear 30s alternate infinite;
    border: 2px solid #ffd53e;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transform: translate3d(93vw, 58vh, 0);
    z-index: 12;
  }
  
  .yellow::before {
    -webkit-animation: yellow-pseudo linear 15s alternate infinite;
            animation: yellow-pseudo linear 15s alternate infinite;
    background: #ffd53e;
    border: 2px solid #ffd53e;
    width: 37px;
    height: 47px;
    transform: translate3d(-13vw, -32vh, 0) rotate(305deg);
  }
  
  .yellow::after {
    -webkit-animation: yellow-pseudo linear 20s alternate infinite;
            animation: yellow-pseudo linear 20s alternate infinite;
    border: 2px solid #ffd53e;
    width: 5px;
    height: 13px;
    transform: translate3d(-16vw, -10vh, 0) rotate(61deg);
  }
  
  @-webkit-keyframes yellow {
    50% {
      transform: translate3d(69vw, 98vh, 0);
    }
    100% {
      transform: translate3d(89vw, 83vh, 0);
    }
  }
  
  @keyframes yellow {
    50% {
      transform: translate3d(69vw, 98vh, 0);
    }
    100% {
      transform: translate3d(89vw, 83vh, 0);
    }
  }
  @-webkit-keyframes yellow-pseudo {
    33% {
      transform: translate3d(-21vw, -80vh, 0) rotate(195deg);
    }
    100% {
      transform: translate3d(-37vw, -62vh, 0) rotate(59deg);
    }
  }
  @keyframes yellow-pseudo {
    33% {
      transform: translate3d(-21vw, -80vh, 0) rotate(195deg);
    }
    100% {
      transform: translate3d(-37vw, -62vh, 0) rotate(59deg);
    }
  }
  .cyan {
    -webkit-animation: cyan linear 30s alternate infinite;
            animation: cyan linear 30s alternate infinite;
    border: 2px solid #78ffba;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transform: translate3d(64vw, 87vh, 0);
    z-index: 12;
  }
  
  .cyan::before {
    -webkit-animation: cyan-pseudo linear 15s alternate infinite;
            animation: cyan-pseudo linear 15s alternate infinite;
    background: #78ffba;
    border: 2px solid #78ffba;
    width: 48px;
    height: 25px;
    transform: translate3d(-32vw, -52vh, 0) rotate(120deg);
  }
  
  .cyan::after {
    -webkit-animation: cyan-pseudo linear 20s alternate infinite;
            animation: cyan-pseudo linear 20s alternate infinite;
    border: 2px solid #78ffba;
    width: 8px;
    height: 39px;
    transform: translate3d(30vw, -14vh, 0) rotate(359deg);
  }
  
  @-webkit-keyframes cyan {
    50% {
      transform: translate3d(51vw, 13vh, 0);
    }
    100% {
      transform: translate3d(45vw, 53vh, 0);
    }
  }
  
  @keyframes cyan {
    50% {
      transform: translate3d(51vw, 13vh, 0);
    }
    100% {
      transform: translate3d(45vw, 53vh, 0);
    }
  }
  @-webkit-keyframes cyan-pseudo {
    33% {
      transform: translate3d(-37vw, 29vh, 0) rotate(232deg);
    }
    100% {
      transform: translate3d(-24vw, -28vh, 0) rotate(50deg);
    }
  }
  @keyframes cyan-pseudo {
    33% {
      transform: translate3d(-37vw, 29vh, 0) rotate(232deg);
    }
    100% {
      transform: translate3d(-24vw, -28vh, 0) rotate(50deg);
    }
  }
  .light-green {
    -webkit-animation: light-green linear 30s alternate infinite;
            animation: light-green linear 30s alternate infinite;
    border: 2px solid #98fd85;
    border-radius: 100%;
    width: 39px;
    height: 39px;
    transform: translate3d(26vw, 45vh, 0);
    z-index: 11;
  }
  
  .light-green::before {
    -webkit-animation: light-green-pseudo linear 15s alternate infinite;
            animation: light-green-pseudo linear 15s alternate infinite;
    background: #98fd85;
    border: 2px solid #98fd85;
    width: 13px;
    height: 25px;
    transform: translate3d(-12vw, -22vh, 0) rotate(255deg);
  }
  
  .light-green::after {
    -webkit-animation: light-green-pseudo linear 20s alternate infinite;
            animation: light-green-pseudo linear 20s alternate infinite;
    border: 2px solid #98fd85;
    width: 18px;
    height: 35px;
    transform: translate3d(33vw, -14vh, 0) rotate(289deg);
  }
  
  @-webkit-keyframes light-green {
    50% {
      transform: translate3d(87vw, 62vh, 0);
    }
    100% {
      transform: translate3d(9vw, 54vh, 0);
    }
  }
  
  @keyframes light-green {
    50% {
      transform: translate3d(87vw, 62vh, 0);
    }
    100% {
      transform: translate3d(9vw, 54vh, 0);
    }
  }
  @-webkit-keyframes light-green-pseudo {
    33% {
      transform: translate3d(-2vw, 11vh, 0) rotate(46deg);
    }
    100% {
      transform: translate3d(13vw, -9vh, 0) rotate(263deg);
    }
  }
  @keyframes light-green-pseudo {
    33% {
      transform: translate3d(-2vw, 11vh, 0) rotate(46deg);
    }
    100% {
      transform: translate3d(13vw, -9vh, 0) rotate(263deg);
    }
  }
  .lime {
    -webkit-animation: lime linear 30s alternate infinite;
            animation: lime linear 30s alternate infinite;
    border: 2px solid #befb46;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    transform: translate3d(47vw, 31vh, 0);
    z-index: 6;
  }
  
  .lime::before {
    -webkit-animation: lime-pseudo linear 15s alternate infinite;
            animation: lime-pseudo linear 15s alternate infinite;
    background: #befb46;
    border: 2px solid #befb46;
    width: 32px;
    height: 16px;
    transform: translate3d(42vw, 45vh, 0) rotate(99deg);
  }
  
  .lime::after {
    -webkit-animation: lime-pseudo linear 20s alternate infinite;
            animation: lime-pseudo linear 20s alternate infinite;
    border: 2px solid #befb46;
    width: 26px;
    height: 16px;
    transform: translate3d(-7vw, -26vh, 0) rotate(312deg);
  }
  
  @-webkit-keyframes lime {
    50% {
      transform: translate3d(14vw, 15vh, 0);
    }
    100% {
      transform: translate3d(76vw, 18vh, 0);
    }
  }
  
  @keyframes lime {
    50% {
      transform: translate3d(14vw, 15vh, 0);
    }
    100% {
      transform: translate3d(76vw, 18vh, 0);
    }
  }
  @-webkit-keyframes lime-pseudo {
    33% {
      transform: translate3d(9vw, 64vh, 0) rotate(101deg);
    }
    100% {
      transform: translate3d(-53vw, -8vh, 0) rotate(281deg);
    }
  }
  @keyframes lime-pseudo {
    33% {
      transform: translate3d(9vw, 64vh, 0) rotate(101deg);
    }
    100% {
      transform: translate3d(-53vw, -8vh, 0) rotate(281deg);
    }
  }
  .magenta {
    -webkit-animation: magenta linear 30s alternate infinite;
            animation: magenta linear 30s alternate infinite;
    border: 2px solid #6c046c;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    transform: translate3d(31vw, 96vh, 0);
    z-index: 2;
  }
  
  .magenta::before {
    -webkit-animation: magenta-pseudo linear 15s alternate infinite;
            animation: magenta-pseudo linear 15s alternate infinite;
    background: #6c046c;
    border: 2px solid #6c046c;
    width: 27px;
    height: 28px;
    transform: translate3d(40vw, -10vh, 0) rotate(344deg);
  }
  
  .magenta::after {
    -webkit-animation: magenta-pseudo linear 20s alternate infinite;
            animation: magenta-pseudo linear 20s alternate infinite;
    border: 2px solid #6c046c;
    width: 23px;
    height: 37px;
    transform: translate3d(-23vw, -10vh, 0) rotate(228deg);
  }
  
  @-webkit-keyframes magenta {
    50% {
      transform: translate3d(85vw, 95vh, 0);
    }
    100% {
      transform: translate3d(59vw, 23vh, 0);
    }
  }
  
  @keyframes magenta {
    50% {
      transform: translate3d(85vw, 95vh, 0);
    }
    100% {
      transform: translate3d(59vw, 23vh, 0);
    }
  }
  @-webkit-keyframes magenta-pseudo {
    33% {
      transform: translate3d(-69vw, -35vh, 0) rotate(49deg);
    }
    100% {
      transform: translate3d(10vw, 70vh, 0) rotate(136deg);
    }
  }
  @keyframes magenta-pseudo {
    33% {
      transform: translate3d(-69vw, -35vh, 0) rotate(49deg);
    }
    100% {
      transform: translate3d(10vw, 70vh, 0) rotate(136deg);
    }
  }
  .lightish-red {
    -webkit-animation: lightish-red linear 30s alternate infinite;
            animation: lightish-red linear 30s alternate infinite;
    border: 2px solid #f04c81;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    transform: translate3d(17vw, 7vh, 0);
    z-index: 6;
  }
  
  .lightish-red::before {
    -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
            animation: lightish-red-pseudo linear 15s alternate infinite;
    background: #f04c81;
    border: 2px solid #f04c81;
    width: 30px;
    height: 8px;
    transform: translate3d(3vw, 35vh, 0) rotate(4deg);
  }
  
  .lightish-red::after {
    -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
            animation: lightish-red-pseudo linear 20s alternate infinite;
    border: 2px solid #f04c81;
    width: 23px;
    height: 37px;
    transform: translate3d(31vw, -1vh, 0) rotate(180deg);
  }
  
  @-webkit-keyframes lightish-red {
    50% {
      transform: translate3d(10vw, 27vh, 0);
    }
    100% {
      transform: translate3d(99vw, 60vh, 0);
    }
  }
  
  @keyframes lightish-red {
    50% {
      transform: translate3d(10vw, 27vh, 0);
    }
    100% {
      transform: translate3d(99vw, 60vh, 0);
    }
  }
  @-webkit-keyframes lightish-red-pseudo {
    33% {
      transform: translate3d(60vw, 34vh, 0) rotate(139deg);
    }
    100% {
      transform: translate3d(-16vw, -28vh, 0) rotate(256deg);
    }
  }
  @keyframes lightish-red-pseudo {
    33% {
      transform: translate3d(60vw, 34vh, 0) rotate(139deg);
    }
    100% {
      transform: translate3d(-16vw, -28vh, 0) rotate(256deg);
    }
  }
  .pink {
    -webkit-animation: pink linear 30s alternate infinite;
            animation: pink linear 30s alternate infinite;
    border: 2px solid #ff4293;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    transform: translate3d(94vw, 92vh, 0);
    z-index: 3;
  }
  
  .pink::before {
    -webkit-animation: pink-pseudo linear 15s alternate infinite;
            animation: pink-pseudo linear 15s alternate infinite;
    background: #ff4293;
    border: 2px solid #ff4293;
    width: 5px;
    height: 22px;
    transform: translate3d(-70vw, -6vh, 0) rotate(163deg);
  }
  
  .pink::after {
    -webkit-animation: pink-pseudo linear 20s alternate infinite;
            animation: pink-pseudo linear 20s alternate infinite;
    border: 2px solid #ff4293;
    width: 28px;
    height: 17px;
    transform: translate3d(-63vw, -28vh, 0) rotate(316deg);
  }
  
  @-webkit-keyframes pink {
    50% {
      transform: translate3d(45vw, 73vh, 0);
    }
    100% {
      transform: translate3d(35vw, 4vh, 0);
    }
  }
  
  @keyframes pink {
    50% {
      transform: translate3d(45vw, 73vh, 0);
    }
    100% {
      transform: translate3d(35vw, 4vh, 0);
    }
  }
  @-webkit-keyframes pink-pseudo {
    33% {
      transform: translate3d(-45vw, -35vh, 0) rotate(150deg);
    }
    100% {
      transform: translate3d(26vw, 30vh, 0) rotate(120deg);
    }
  }
  @keyframes pink-pseudo {
    33% {
      transform: translate3d(-45vw, -35vh, 0) rotate(150deg);
    }
    100% {
      transform: translate3d(26vw, 30vh, 0) rotate(120deg);
    }
  }